/.vs
/Src/JsonDataEditor/bin
/packages/Newtonsoft.Json.12.0.2
/Src/JsonDataEditor/obj/Debug
/Src/JsonDataEditor/obj/Release
/Src/JsonDataEditor/packages/Newtonsoft.Json.12.0.2
/Src/JsonDataEditor/Test
/packages
/Src/Test/obj/Debug/Test.pdb
/Src/Test/obj/Debug/Test.exe
/Src/Test/obj/Debug/Test.csprojAssemblyReference.cache
/Src/Test/obj/Debug/Test.csproj.FileListAbsolute.txt
/Src/Test/obj/Debug/Test.csproj.CoreCompileInputs.cache
/Src/Test/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Src/Test/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Src/Test/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Src/Test/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Src/Test/bin/Debug/Test.pdb
/Src/Test/bin/Debug/Test.exe.config
/Src/Test/bin/Debug/Test.exe
